@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-button {
  --bg: #a9def9;
  --hover-bg: #050505;
  --hover-text: #d9f2ff;
  color: #050505;
  border: 1px solid var(--bg);
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.animation-button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.animation-button:active {
  transform: translate(0);
  box-shadow: none;
}
